@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

       if (User.Identity.Name == "Admin")
        {
             <li>
            <a href="@Url.Action("Register", "Account", routeValues: null)" id = "registerLink">
                <i class="fa fa-user fa-fw"></i>
                ایجاد حساب

            </a>
        </li>  
        }
        
        <li>
            <a href="@Url.Action( "Manage", "Account", routeValues: null)">
                <i class="fa fa-lock fa-fw"></i>
                تغییر گذرواژه
            </a>


        </li>

    <li class="divider"></li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()" style="float:right"><i class="fa fa-sign-out fa-fw"></i>خروج</a>
        </li>

    
    }
}
else
{
        
        
        <li>
            <a href="@Url.Action("Login", "Account", routeValues: null)"  id="loginLink" style="float: right">
                <i class="fa fa-sign-in fa-fw"></i>
                ورود

            </a>
        </li>

}
