@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="row">
    <div class="col-md-4 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <select id="Titlecombo" disabled class="form-control dropdown-toggle" name="SearchFilterCombo">
                <option value="0" selected="">contain at least one word of the phrase</option>
                <option value="1">Include all the words in the phrase</option>
                <option value="2">contain the same phrase</option>
            </select>
            <span class="input-group-addon" style="background-color:white;border:none">
                <label aria-label="Checkbox for following text input">Filter by:</label>
            </span>

        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <input class="form-control" disabled="" id="Titletxt" placeholder="Title of the document (article/dissertation) " dir="rtl" aria-label="Text input with radio button" type="text">
            <span class="input-group-addon">
                <input id="Title_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input" type="checkbox">
            </span>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <select id="Authorscombo" disabled class="form-control dropdown-toggle" name="SearchFilterCombo">
                <option value="0" selected="">contain at least one word of the phrase</option>
                <option value="1">Include all the words in the phrase</option>
                <option value="2">contain the same phras</option>
            </select>
            <span class="input-group-addon" style="background-color:white;border:none">
                <label aria-label="Checkbox for following text input">Filter by:</label>
            </span>

        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <input class="form-control" disabled="" id="Authorstxt" placeholder="Author's name " dir="rtl" aria-label="Text input with radio button" type="text">
            <span class="input-group-addon">
                <input type="checkbox" id="Authors_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input">
            </span>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <select id="Keywordscombo" disabled class="form-control dropdown-toggle" name="SearchFilterCombo">
                <option value="0" selected="">contain at least one word of the phrase</option>
                <option value="1">Include all the words in the phrase</option>
                <option value="2">contain the same phras</option>
            </select>
            <span class="input-group-addon" style="background-color:white;border:none">
                <label aria-label="Checkbox for following text input">Filter by:</label>
            </span>

        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <input class="form-control" disabled="" id="Keywordstxt" placeholder="Key words" dir="rtl" aria-label="Text input with radio button" type="text">
            <span class="input-group-addon">
                <input type="checkbox" id="Keywords_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input">
            </span>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <select id="Yearcombo" disabled class="form-control dropdown-toggle" name="SearchFilterCombo">
                <option value="0" selected="">contain at least one word of the phrase</option>
                <option value="1">Include all the words in the phrase</option>
                <option value="2">contain the same phras</option>
            </select>
            <span class="input-group-addon" style="background-color:white;border:none">
                <label aria-label="Checkbox for following text input">Filter by:</label>
            </span>

        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <input class="form-control" disabled="" id="Yeartxt" placeholder="Year of publication" dir="rtl" aria-label="Text input with radio button" type="text">
            <span class="input-group-addon">
                <input type="checkbox" id="Year_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input">
            </span>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <select id="Abstractcombo" disabled class="form-control dropdown-toggle" name="SearchFilterCombo">
                <option value="0" selected="">contain at least one word of the phrase</option>
                <option value="1">Include all the words in the phrase</option>
                <option value="2">contain the same phras</option>
            </select>
            <span class="input-group-addon" style="background-color:white;border:none">
                <label aria-label="Checkbox for following text input">Filter by:</label>
            </span>

        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 form-group">
        <div class="input-group form-group" dir="ltr">
            <input class="form-control" disabled="" id="Abstracttxt" placeholder="Abstract" dir="rtl" aria-label="Text input with radio button" type="text">
            <span class="input-group-addon">
                <input type="checkbox" id="Abstract_check" onchange="return EnableDisableTXT(this)" aria-label="Checkbox for following text input">
            </span>

        </div>
    </div>
</div>
