
@{
    ViewBag.Title = "جستجوی پیشرفته";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-left:auto; margin-right:auto;padding-left:15px;padding-right:15px">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search" style="direction: ltr;text-align:right; font-family: WYekan; width:800px">
                <input type="text" class="form-control" placeholder="عبارت خود را اینجا بنویسید" />
                <div class="input-group-btn" >
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg" >
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu" style="direction:rtl">
                                <form class="form-horizontal" role="form">
                                    <div class="row" dir="rtl">
                                        <div class="col-lg-4">
                                            <div class="form-group" style="direction:rtl;font-family:WYekan">
                                                <label for="filter" style="text-align:right">فیلتر شود بر اساس</label>
                                                <select class="form-control" name="SearchFilterCombo">
                                                    <option value="0" selected>حداق شامل یک کلمه از عبارت باشد</option>
                                                    <option value="1">شامل تمامی کلمات عبارت باشد</option>
                                                    <option value="2">شامل عین عبارت باشد</option>
                                                </select>
                                            </div>
                                            
                                        </div>
                                        <div class=" col-lg-7">
                                            <div class="form-group">

                                                <label for="contain">عنوان سند (مقاله/ پایان نامه) </label>
                                                <input class="form-control" id="Titletxt" name="Titletxt" type="text" />
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="form-group">
                                                <input class="form-control" id="Titletxt" name="Titletxt" type="checkbox" />
                                            </div>
                                        </div>
                                        </div>
                                    
                                    <div class="form-group">
                                        <label for="contain">عنوان سند (مقاله/ پایان نامه) </label>
                                        <input class="form-control" id="Titletxt" name="Titletxt" type="text" style="width:30%" />
                                        <label for="filter" style="text-align:right">فیلتر شود بر اساس</label>

                                        <select class="form-control" name="SearchFilterCombo" style="width:30%">
                                            <option value="0" selected>حداق شامل یک کلمه از عبارت باشد</option>
                                            <option value="1">شامل تمامی کلمات عبارت باشد</option>
                                            <option value="2">شامل عین عبارت باشد</option>
                                        </select>
                                    </div>
                                    <div class="form-group" style="direction:rtl;font-family:WYekan">
                                        <label for="filter" style="text-align:right">فیلتر شود بر اساس</label>

                                        <select class="form-control" name="SearchFilterCombo">
                                            <option value="0" selected>حداق شامل یک کلمه از عبارت باشد</option>
                                            <option value="1">شامل تمامی کلمات عبارت باشد</option>
                                            <option value="2">شامل عین عبارت باشد</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">نام نگارنده</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="form-group" style="direction:rtl;font-family:WYekan">
                                        <label for="filter" style="text-align:right">فیلتر شود بر اساس</label>

                                        <select class="form-control" name="SearchFilterCombo">
                                            <option value="0" selected>حداق شامل یک کلمه از عبارت باشد</option>
                                            <option value="1">شامل تمامی کلمات عبارت باشد</option>
                                            <option value="2">شامل عین عبارت باشد</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="contain">چکیده</label>
                                        <input class="form-control" type="text" />
                                    </div>
                                    <div class="form-group" style="direction:rtl;font-family:WYekan">
                                        <label for="filter" style="text-align:right">فیلتر شود بر اساس</label>

                                        <select class="form-control" name="SearchFilterCombo">
                                            <option value="0" selected>حداق شامل یک کلمه از عبارت باشد</option>
                                            <option value="1">شامل تمامی کلمات عبارت باشد</option>
                                            <option value="2">شامل عین عبارت باشد</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
