
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    document.getElementById("SearchForm").addEventListener('submit', function () {
        alert("sddf");

        document.getElementById("Searchtxt").value = document.getElementById("Searchtxt1").value;
    })
</script>
<div style="margin-left:auto; margin-right:auto;padding-left:15px;padding-right:15px">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" method="post">
                <div class="input-group" id="adv-search" style="direction: ltr;text-align:right; font-family: WYekan; ">
                    <input type="text" class="form-control" name="Searchtxt" placeholder="Write your phrase here" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu" style="direction:rtl">



                                    <div class="form-group">
                                        <select class="form-control" name="SearchFilterCombo">
                                            <option value="AtLeastOneWord" selected>contain at least one word of the phrase</option>
                                            <option value="AllWords">Include all the words in the phrase</option>
                                            <option value="Phrase">contain the same phrase</option>
                                        </select>
                                    </div>





                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

                                </div>
                            </div>
                            <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
           </form>
        </div>
    </div>
</div>
