@model DocumentSimilarity.Models.ResearchDocument

@{
    ViewBag.Title = "Determining the degree of similarity of documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container bootstrap snippet" style="width:inherit" dir="rtl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">

                    <div id="message"></div>

                    <small>@ViewBag.SearchTime</small>

                  


                    
                    <table class="infinite-scroll" width="">
                        <thead>

                        </thead>
                        <tbody>
                            @Html.Partial("_SimilarityDocumentRow", (ViewBag.Documents as Dictionary<int, DocumentSimilarity.Models.ResearchDocument>))
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>
</div>
<div id="loading">
    <img src='@Url.Content("~/Images/spin.gif")' /><p><b>uploading  @ViewBag.RecordsPerPagenext page&hellip;</b></p>
</div>
@section scripts{
    <script src="~/Scripts/infiniteScroll.js"></script>
    <script type="text/javascript">
        $(function () {
            $("div#loading").hide();
        });
        var moreRowsUrl = "/Home/Similarity"; //the URL to your ActionMethod
        //var moreRowsUrl = ' Url.RouteUrl("CustomerList")'; //if you have a route defined, you can use an Html helper like Url.RouteUrl
        $(window).scroll(scrollHandler);


     
    </script>
}
